{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {% for field in form if field.name not in ('collaborators', 'is_finished', 'submit', 'csrf_token') %}
        <p>
            {{ field.label }}<br>
            {{ field(class="form-control", type=field.name) }}<br>
            {% for error in field.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
    {% endfor %}
    <p>{{ form.is_finished(type="checkbox") }} {{ form.is_finished.label() }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}